*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
.cache/

# Keep Lambda Sub Project
!lambda/*.js

# Parcel Build
.build

# IDE Files
.idea/
.vscode/

# macOS Files
.DS_Store
